@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - CodeFrame.Web</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/layui-v2.2.3/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui-v2.2.3/layui/layui.js"></script>
    <script src="~/js/manageCom.js"></script>

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/manage/css/app.css" rel="stylesheet" />
    <link href="http://siyouku.cn/Content/animate.css" rel="stylesheet" />
    <link href="~/css/manage/css/themes/default.css" rel="stylesheet"   media="all" id="skin" kit-skin />

</head>
<body  class="kit-theme">
    <div class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" id="pay">Code Frame</div>
            <div class="layui-logo kit-logo-mobile">K</div>

            @*!-- 头部区域（可配合layui已有的水平导航） -->*@
            <ul class="layui-nav layui-layout-left kit-nav" kit-one-level>
                @*<li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>*@
            </ul>
             
            <ul class="layui-nav layui-layout-right kit-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe63f;</i> 皮肤
                    </a>
                    <dl class="layui-nav-child skin">
                        <dd><a href="javascript:;" data-skin="default" style="color:#393D49;"><i class="layui-icon">&#xe658;</i> 默认</a></dd>
                        <dd><a href="javascript:;" data-skin="orange" style="color:#ff6700;"><i class="layui-icon">&#xe658;</i> 橘子橙</a></dd>
                        <dd><a href="javascript:;" data-skin="green" style="color:#00a65a;"><i class="layui-icon">&#xe658;</i> 原谅绿</a></dd>
                        <dd><a href="javascript:;" data-skin="pink" style="color:#FA6086;"><i class="layui-icon">&#xe658;</i> 少女粉</a></dd>
                        <dd><a href="javascript:;" data-skin="blue.1" style="color:#00c0ef;"><i class="layui-icon">&#xe658;</i> 天空蓝</a></dd>
                        <dd><a href="javascript:;" data-skin="red" style="color:#dd4b39;"><i class="layui-icon">&#xe658;</i> 枫叶红</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="@ViewBag.handimg" class="layui-nav-img"> @ViewBag.truename
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" id="baseinfo">
                                <span>基本资料</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;"
                               kit-target data-options="url:'@Url.Action("AddUser","UserInfo")',icon:'&#xe658;',title:'安全设置',id:'966'}">
                                <span>安全设置</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="@Url.Action("Logout","Account",new{area=""})" id="exist"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
            </ul>
            
           
        </div>

        <div class="layui-side layui-bg-black kit-side">
            <div class="layui-side-scroll">
                <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree animated flipInX" lay-filter="kitNavbar" kit-navbar>
                    @*<li class="layui-nav-item">
                        <a class="" href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 基本元素</span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" kit-target data-options="{url:'test.html',icon:'&#xe6c6;',title:'表格',id:'1'}">
                                    <i class="layui-icon">&#xe6c6;</i><span> 表格</span>
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="@Url.Action("Index","UserInfo")" data-icon="fa-user" data-title="表单" kit-target data-id='2'><i class="fa fa-user" aria-hidden="true"></i><span> 表单</span></a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="@Url.Action("Index","UserInfo")" data-icon="&#xe628;" data-title="导航栏" kit-target data-id='3'><i class="layui-icon">&#xe628;</i><span> 导航栏</span></a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="@Url.Action("Index","UserInfo")" data-icon="&#xe614;" data-title="列表四" kit-target data-id='4'><i class="layui-icon">&#xe614;</i><span> 列表四</span></a>
                            </dd>
                            <dd>
                                <a href="javascript:;" kit-target data-options="{url:'https://www.baidu.com',icon:'&#xe658;',title:'百度一下',id:'5'}"><i class="layui-icon">&#xe658;</i><span> 百度一下</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 组件</span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" kit-target data-options="{url:'navbar.html',icon:'&#xe658;',title:'Navbar',id:'6'}"><i class="layui-icon">&#xe658;</i><span> Navbar</span></a></dd>
                            <dd><a href="javascript:;" kit-target data-options="{url:'tab.html',icon:'&#xe658;',title:'TAB',id:'7'}"><i class="layui-icon">&#xe658;</i><span> Tab</span></a></dd>
                            <dd><a href="javascript:;" kit-target data-options="{url:'onelevel.html',icon:'&#xe658;',title:'OneLevel',id:'50'}"><i class="layui-icon">&#xe658;</i><span> OneLevel</span></a></dd>
                            <dd><a href="javascript:;" kit-target data-options="{url:'app.html',icon:'&#xe658;',title:'App',id:'8'}"><i class="layui-icon">&#xe658;</i><span> app.js主入口</span></a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="@Url.Action("Index","UserInfo")" data-name="table" kit-loader><i class="fa fa-plug" aria-hidden="true"></i><span> 表格(page)</span></a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/views/form.html" data-name="form" kit-loader><i class="fa fa-plug" aria-hidden="true"></i><span> 表单(page)</span></a>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="layui-body" id="container">
          
            <div style="padding: 15px;">主体内容加载中,请稍等...</div>
        </div>


    </div>


    <script>
        var message;
        layui.config({
            base: '/js/manage/js/'
        }).use(['app', 'message'], function () {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
         
            //将message设置为全局以便子页面调用
            message = layui.message;
            //app.hello();
            //主入口
            app.set({
                type: 'iframe'
            }).init();
            $('#baseinfo').on('click', function () {
                layer.open({
                    type: 2,
                    title: '修改基础信息',
                    shadeClose: true,
                    //shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['893px', '600px'],
                    content: '/Manage/UserInfo/EditUser/' + @ViewBag.userid
                });
            });
           
            $('dl.skin > dd').on('click', function() {
                var $that = $(this);
                var skin = $that.children('a').data('skin');
                switchSkin(skin);
            });


            var setSkin = function(value) {
                    layui.data('kit_skin', {
                        key: 'skin',
                        value: value
                    });
                },
                getSkinName = function() {
                    return layui.data('kit_skin').skin;
                },
                switchSkin = function(value) {
                    var _target = $('link[kit-skin]')[0];
                    console.info(_target.href);
                    _target.href = _target.href.substring(0, _target.href.lastIndexOf('/') + 1) + value + _target.href.substring(_target.href.lastIndexOf('.'));
                    console.info(_target.href);
                    setSkin(value);
                },
                initSkin = function () {
                    console.info(66);
                    var skin = getSkinName();
                    switchSkin(skin === undefined ? 'default' : skin);
                }();

           
        });
    </script>
</body>
</html>